---
layout: default
title: BawlSec blog
description: Our team writes about technical topics, CTF writeups, silly stuff, balls, the usual.
page_class: blog
---
<h1>Blog</h1>

{% for post in site.posts %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="underline">Posted on {{ post.date | date_to_string }} 
      {% assign author = site.authors | where: 'name', page.author | first %}
      {% if author %}
        by <a href="{{ author.url }}">{{ author.name }}</a>
      {% endif %}
    </p>

    <p>
      {{ post.excerpt }}
    </p>
  </div>
{% endfor %}
