html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	-webkit-font-smoothing: antialiased; 
	font-size: 17px;
	color: #1a1a1a;
}

body {
	overflow-y: scroll;
	text-align: left;
}


a {
	color: #3b8940;
	text-decoration: none;
}

a:hover {
	color: #285c2b;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	margin-bottom: 0;
}

p {
	margin-top: 5px;
}

pre.highlight {
    padding: 15px 10px;
    white-space: pre-wrap;
    color: #8cc92f;
    font-size: 15px;
}


/* ----------------------------------- Generic */

#wrapper {
	width: 999px;
	margin: 0 auto;
}

#wrapper aside {
	width: 320px;
	margin-right: 10px;
	float: left;
	overflow: auto;

}

#wrapper #content {
	width: 666px;
	float: right;
}

nav {
	margin-top: 30px;
	border-bottom: 1px solid #ccc;
}

nav ul {
	overflow: auto;

	font-size: 19px;
	list-style-type: none;
	padding-left: 0;
}

nav ul li {
	float: left;
	margin-left: 30px;
	margin-bottom: 10px;
}

nav ul li:first-of-type {
	margin-left: 0;
}

nav a {
	color: #666666;
	text-decoration: none;
	padding: 5px;
}

nav a:hover {
	color: #3b8940;
	text-decoration: underline;
}

nav a.active {
	color: #1f1f1f;
	text-decoration: none;
}

nav a.active:hover {
	color: #1f1f1f;
	text-decoration: none;
}

article {
	margin-top: 25px;
}

#social_twitter {
	margin-right: 35px;
}



/* ----------------------------------- Generic restructuring */


@media all and (max-width: 1006px) {

	#wrapper {
		width: 100%;
	}

	#wrapper #content {
		width: 550px;
		float: left;
	}
}

@media all and (max-width: 900px) {

	#wrapper #content {
		width: 440px;
		float: left;
	}
}


@media all and (max-width: 790px) {

	#wrapper #content {
		width: 95%;
		float: left;
		margin: 0 15px;
	}

	#wrapper aside {
		width: 100%;
		text-align: center;
	}

	#wrapper nav {
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
}


@media all and (max-width: 470px) {

	#wrapper nav {
		width: 100%;
	}

	#wrapper nav ul li {
		width: 100%;
		clear: left;
		margin-left: 0;
		text-align: center;
	}
}

@media all and (max-width: 320px) {

	#logo {
		width: 100%;
	}
}


@media all and (max-width: 218px) {
	#social_twitter {
		display: block;
		margin: 0 auto 30px auto
	}
}


/* ----------------------------------- Teams */

.side_by_side {
	width: 666px;
    margin: 0 auto;
}

.side_by_side p {
	float: left;
}

.side_by_side.tea p {
    margin-top: 141px;
}

.side_by_side.ctftime p {
    margin-top: 80px;
}

.side_by_side.backend p {
    margin-top: 50px;
}

.arm {
	margin-top: 80px;
}

.arm img {
	margin-top: 20px;
}

.table {
	margin-top: 40px;
}

.pentesting p {
	margin-bottom: 30px;
}

.backend, .pentesting, .ctftime {
	margin-top: 140px;
}

.ctftime {
	margin-bottom: 100px;
}



@media all and (max-width: 845px) {

	img.table {
		width: 95%;
	}
}


@media all and (max-width: 710px) {

	.side_by_side {
		width: 100%;
	}

	.side_by_side p {
		float: none;
	}

	.pentesting img {
		width: 95%;
	}

	.side_by_side.tea p {
		margin-top: 70px;
	}
}


@media all and (max-width: 480px) {

	.arm img {
		width: 95%;
	}
}

@media all and (max-width: 330px) {

	.backend img {
		width: 95%;
	}
}



/* ----------------------------------- Blog */


.post h2 {
	font-size: 22px;
	margin: 30px 0 0 0;
}

.post p {
	margin-top: 5px;
}

.post .underline {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #828282;
}


.blog_post .underline {
	margin-top: 5px;

	color: #828282;
}




/* ----------------------------------- Members */

.members h2 {
	margin: 25px 0 0 0;
}

.members .underline {
	margin-top: 5px;

	color: #828282;
}


/* ----------------------------------- Member */

.member .underline {
	color: #828282;
	font-size: 16px;
}

.member article > h2 {
	font-size: 21px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.member .post:first-of-type h2 {
	margin-top: 10px;
}





/* ----------------------------------- Monokai code highlighting */


.highlight pre { background-color: #272822; }
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */